/*submenu */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.calc-submenu{
    width:80%;
    margin:0 auto;
    padding-right:25px;
    margin-bottom:10px;
}

.tren-submenu{
    width:25%;
    margin:0 auto;
    padding-right:25px;

}
.atlas-submenu{
    width:29%;
    margin:0 auto;
    padding-right:25px;

}

.tren-submenu ul > li{
   text-align:center;
}

.train-date{
    margin-bottom:3px;
    font-weight:bold;
    color:black;
    height:40px;
    line-height:40px;
    text-align:center;
    background-color:rgba(255,255,255, 0.8)
}

.train-date:hover{
    color:grey;
    cursor:pointer;
}

.dates-list h3{
    text-align:center;
}
.list{
    overflow:scroll;
    overflow-x:hidden;
}
.train-info table{
    width:100%;
}
.train-info tr{
    height:50px;
    line-height:50px;
}
.train-info tr > td{
    text-align:center;
}

.first-row {
    background-color:rgba(0,0,0,0.4);

}

.exercise-info{
    height:50px;
    background-color:rgba(0,0,0,0.5);
    margin-bottom:5px;
    line-height:50px;
}

.exercise-info p{
    font-size:20px;
    margin-left:10%;
}
.exercise-block{
    height:20%;
    background-color:rgba(0,0,0,0.3);
    margin-bottom:5px;
}
.exercise-descript{
    height:60%;
    margin-left:5px;
    margin-bottom:5px;
}
.warunek{
    padding-top:15px;
    text-align:center;
}
.warunek img{
    margin-left:5%;
    width:100%;
}
.detail{
    text-align:center;
}
.atlas-exercise{
    height:400px;
    padding:20px;
    background-color: rgba(255,255,255,0.5);

}
.atlas-img{
    height:100%;
    background-color: rgba(0,0,0,0.5)
}

.atlas-block{
    color:black;
    height:40%;
}
.atlas-descript{
    color:black;
    height:60%;
}