<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="section ">
            <div ui-sref="tren" class="block tren animated fadeInLeft">

            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="section ">
            <div ui-sref="atlas" class="block atl animated fadeInRight">

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="section ">
            <div ui-sref="calc" class="block bmi animated fadeInLeft">

            </div>

        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="section ">
            <div ui-sref="stats" class="block stat animated fadeInRight">

            </div>

        </div>
    </div>
</div>